:root {
  --bgcolour: #fffafc;
  --textcolour: #382f25;
  --textgrey: #58544e;
  --teal: #447b88;
  --grey: #c4c1c1;
  --padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgcolour: #382f25;
    --textcolour: #fffafc;
    --textgrey: #bebebe;
    --teal: #7da4ad;
    --grey: var(var(--textcolour));
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--textcolour);
}

body {
  background: var(--bgcolour);
}

a:link, a:visited {
  color: inherit;
  transition: all .5s ease;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
