.site_description {
    font-size: 0.9em;
    line-height: 1.2;
    color: var(--textgrey);
    padding-bottom: var(--padding);
    border-bottom: 1px solid var(--grey);
}

.blog_roll {
    padding: calc(var(--padding) * 1.5) 0;
}

.blog_roll li {
    list-style-type: none;
    padding-bottom: var(--padding);
}

.blog_roll a {
    display: block;
    font-family: var(--headingfont);
    font-size: 1.4em;
}

.description {
    line-height: 1.3;
    color: var(--textgrey);
}